<!DOCTYPE html>
<html lang="{{get_locale}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Document') }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/country-select-js/2.0.3/css/countrySelect.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body{
            background-color: black;
            margin: 0% 10% 10% 10%;
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;;
        }

        .boober-img {
            height: fit-content;
            margin-left: 20%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand text-light font-weight-bold" href="#">{{ _('BooBER') }}</a>
        <button class="navbar-toggler btn-light bg-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon bg-dark"></span>
        </button>
    </nav>
    <div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

